html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  min-height: 100vh;
  padding: 5rem;
  background-color: #fbfbfd;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}

.signup {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}
.signup__heading {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 4rem;
  color: #291667;
}
.signup__caption {
  color: #fa4c53;
  font-weight: bold;
  margin-bottom: 4.5rem;
  position: relative;
  padding-left: 12rem;
}
.signup__caption:before {
  content: "";
  width: 10rem;
  height: 2px;
  background-color: #fa4c53;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
.signup-social {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 6rem;
}
.signup-social__item {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #291667;
  width: calc(50% - 1.5rem);
}
.signup-social__icon {
  margin-right: 1rem;
}
.signup-form__label {
  color: #291667;
  display: inline-block;
  margin-bottom: 1rem;
  transform: translateX(1rem);
  cursor: pointer;
}
.signup-form__input {
  padding: 1rem 1.5rem;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 8px;
  display: block;
  width: 100%;
  transition: all 0.25s linear;
}
.signup-form__input:focus {
  background-color: #fafafa;
  border-color: #fa4c53;
}
.signup-form__input:focus + .signup-form__check {
  background-color: #fa4c53;
  color: #fff;
}
.signup-form__row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}
.signup-form__row .signup-form__group {
  width: calc(50% - 1.5rem);
}
.signup-form__term input {
  display: none;
}
.signup-form__term input:checked + label:before {
  color: #fa4c53;
  background-color: #fa4c53;
}
.signup-form__term label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 3rem;
  padding-left: 3.5rem;
  margin-bottom: 5rem;
}
.signup-form__term label:before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  transition: all 0.25s linear;
}
.signup-form__submit {
  width: 8rem;
  height: 8rem;
  color: white;
  border: 0;
  border-radius: 2.5rem;
  background-color: #fa4c53;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 6.5rem;
  box-shadow: 5px 10px 10px 0 rgba(250, 76, 83, 0.3);
}
.signup-form__validate {
  position: relative;
}
.signup-form__validate .signup-form__input {
  padding-right: 5rem;
}
.signup-form__check {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #eee;
  color: #291667;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s linear;
}
.signup__already {
  color: #291667;
}
.signup__already a {
  color: #fa4c53;
}

@media screen and (max-width: 1439px) {
  .signup__content {
    width: calc(60% - 4rem);
  }
  .signup__image {
    width: calc(40% - 4rem);
  }
}
@media screen and (max-width: 1279px) {
  .signup__content {
    width: 100%;
  }
  .signup__image {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 2rem;
  }

  .signup {
    padding: 2rem;
  }
  .signup-social {
    flex-direction: column;
  }
  .signup-social__item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .signup-form__row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .signup-form__row .signup-form__group {
    width: 100%;
  }
  .signup-form__group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
